.header{
    height: 65px;
    position: sticky;
    background-color: black;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 2;
 }
 
 .header__logo{
    width: 70px;
    height: 61px;
    margin-left: 3.2rem;
    margin-right: 5rem;
 }
 .header__search{
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 15px;
    border-radius: 20px;
    
 }
 
 .header__searchInput{
    width: 100%;
    height: 20px;
    padding: 7px;
    border: none;
    
 }
 
 .header__searchIcon{
    background-color: #cd9842;
    padding:5px;
    height: 20px;
    }
 .header__nav{
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-right: 10px;
 }
 .header__option{
    display: flex;
    flex-direction: column;
    margin: 15px;
 }
 .header__optionLine1{
    font-size: 12px;
 }
 .header__optionLine2{
    font-size: 15px;
    font-weight: 700;
 }
 .header__cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 20px;
    width: 40px;
    color: white;
    
 }
 .cart__name{
    font-size: 10px;
    font-weight: 700;
}